@model IEnumerable<WebApplication1.Models.LichChieu>

@{
    ViewBag.Title = "LichChieuPhim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>LichChieuPhim</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.malich)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.maphim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ngay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.soluong)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
         <td>
            @Html.DisplayFor(modelItem => item.malich)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.maphim)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ngay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.soluong)
        </td>
        <td>
            @if (item.soluong <= 0)
            {
                <a class="btn btn-success" style="background-color:green" href="#">Hết vé</a>
            }
            else
            {
                <a class="btn btn-success" style="background-color:orange" href="@Url.Action("ThemGioHang", "GioHang", new { @id = item.maphim, @strUrl = Request.Url.ToString() })">Đặt Vé</a>
            }
        </td>
    </tr>
}

</table>
